main {
    font-family: sans-serif;
    background-color: #FFF;
    border-color: #EFF;
}
main a{
    color: #FFFFFF;
}
main #header{
    background: #484848;
    color: #222;
    margin-right: auto;
    margin-left: auto;
    width: 715px;
}
main h1{
    font-size: 36px;
    display: inline-block;
    text-align: center;
    margin: 0px;
    width: 500px;
}
main h6{
    color: #222;
    font-size: 12px;
    line-height: 18px;
    margin: 0px;
}
main .selection{
    width: 100px;
    display: inline-block;
    margin: 0px;
}
main #last{
    text-align: left;
    float: left;
}
main #next{
    text-align: right;
    float: right;
}
main #calendar{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 250px;
    width: auto;
}
main ul{
    margin: 0px;
    padding: 0px;
    background-color: white;
    clear: both;
    width: auto;
    }
main li{
    list-style: none;
    float: left;
    width: 14.2857%;
    border-radius: 13px;
    border-width: 1px;
    border-style: solid;
    margin: -1px;
}
main #day_names li{
    background-color: #AAC;
    text-align: center;
    color: #EEEEEE;
    border-color: #FFF;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-bottom: 2px;
}
main .dates li{
    height: 200px;
    border-color: white;
}
main .dateno{
    margin: 15px;
}
main .datenum{
    color: #333;
    float: none;
    display: inline-block;
    line-height: 100%;
    padding: 3px;
    margin-top: -10px;
    vertical-align: middle;
}
main .not-this-month .adddiv{
    display: none;
}
main .adddiv{
    text-decoration: none;
    background-color: #333;
    float: right;
    display: inline;
    border-radius: 13px;
    padding: 3px;
    margin-top: -10px;
    overflow: hidden;
}
main .plus{
    color: #FFF;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    display: inline;
    height: 100%;
    width: 100%;
    padding: 2px;
    margin: -2px;
    vertical-align:middle;
}
main .adddiv:hover .plus{
    transform: rotate(-180deg);
    transition-duration: 1s;
}
main .adddiv:not(:hover) .plus{
    transform: rotate(180deg);
    transition-duration: 1s;
}
main .add{
    color: #FFF;
    position: relative;
    white-space: nowrap;
    font-size: 14px;
    height: 100%;
    padding: 2px;
    margin: -2px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    /*bits that change*/
    line-height: 0px;
    width: 0;
    visibility: hidden;
    opacity: 0;
    left: 75px;
}
main .adddiv:hover .add{
    line-height: 14px;
    width: 70px;
    visibility: visible;
    opacity: 1;
    left: 0;
    transition-property: width, opacity, left;
    transition-duration: 1s;
}
main .adddiv:not(:hover) .add{
    line-height: 0px;
    width: 0;
    visibility: hidden;
    opacity: 0;
    left: 75px;
    transition-property: width, opacity, left;
    transition-duration: 1s;
}
main .this-month .dateno{
    display: block;
    color: #222;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #AAA;
}
main .not-this-month .dateno{
    color: #BBB;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #CCC;
}
main .this-month{
    background-color: #DDD;
}
main .this-month:hover{
    background-color: #FFF;
}
main .not-this-month{
    background-color: #EEE;
}
#iframe{
    background-color: #FFF;
    padding: 25%;
    border: none;
    height: 50%;
    width: 50%;
    position: fixed;
    z-index: -10;
    visibility: hidden;
    display: none;
}
#footer{
    display: block;
    float: none;
}